img {
	border: none;
}
body {
	color: #000;
	font: 16px/1.2em Helvetica Neue, Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
body, footer, #header {
	min-width: 970px
}
html, body {
	height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
	margin: 0 auto -120px auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
html {
	height: 100%;
}
h1, .header-title p {
	margin: 0;
	padding: 0;
}
a {
	color: #62A6E6;
}
.pos-relative {
	position: relative
}
.align-center {
	text-align: center
}
.float-left {
	float: left
}
.float-right {
	float: right
}
#header {
	background-color: #202C32;
	padding: 39px 0 36px 0;
}
.container-narrow, .timeline {
	margin: 0 auto;
	width: 940px;
}
.container-narrow:before, .container-narrow:after, .timeline:before, .timeline:after {
	content: " ";
	display: table;
	line-height: 0;
}
.container-narrow:after, .timeline:after {
	clear: both;
}
.header-title h1 {
	color: #fff;
	font: 36px/44px Helvetica Neue, Arial, Helvetica, sans-serif;
	margin-bottom: 14px;
}
/* Магазин Дикси: */

.header-title {
	color: #9EA3A5;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.header-title address {
	font-style:normal
}
.header-button-wrapper {
	position: relative;
	width: 100%
}
.header-button-wrapper button {
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	padding: 0 14px;
	position: absolute;
	top: 2px;
}
.header-button-wrapper :first-child {
	background: transparent;
	border: 1px solid #73CCFF;
	color: #73CCFF;
	left: 28px;
}
/*.header-button-wrapper :last-child{background: #73CCFF;border: none;right: 28px}*/
.link-block {
	background: #EFEFEF;
	margin-bottom: 30px;
	padding: 20px 0;
	text-align: center;
}
#link-input {
	background: #EFEFEF;
	border-radius: 4px;
	color: #000;
	font-size: 16px;
	line-height: 26px;
	margin: 0 9px 0 5px;
	padding-left: 6px;
	padding-right: 6px;
	width: 270px;
}
.link-block-navig {
}
.link-block-navig .divider {
	color: #B4B4B4;
	margin: 0 8px;
	padding: 0;
}
.title {
	color: #8B572A;
	font-size: 14px;
	height: 36px;
	line-height: 35px;
	margin: 0 auto 19px auto;
	text-align: center;
	width: 792px;
}
.left-title, .right-title {
	background-color: #FFF098;
	background-repeat: no-repeat;
	float: left;
	height: 36px;
	margin-left: 2px;
	width: 382px;
}
.left-title {
	background-image: url("../img/corner_left.png");
	margin-left: 0;
	padding: 0 13px 0 0;
	text-align: right;
}
.right-title {
	background-image: url("../img/corner_right.png");
	background-position: right top;
	padding: 0 0 0 13px;
	text-align: left;
}
.timeline {
	text-align: center;
}
.title-timeline, .time {
	background: #F1F0F0;
	border-radius: 3px;
	color: #666;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	margin: 0 auto;
	padding: 0 10px 2px 10px;
	text-align: center;
}
.time {
	padding: 1px 0;
	width: 50px;
}
.title-timeline {
	clear: both;
	padding: 0 0 2px 0;
	width: 120px;
}
.divider-wrapper {
	border-left: 2px solid #F1F0F0;
	clear: both;
	float:right;
	padding-bottom: 15px;
	padding-left:34px;
	width: 435px;
}
.event-left {
	border-left: none;
	border-right: 2px solid #F1F0F0;
	float: left;
	padding-left: 0;
	padding-right: 34px;
}
.divider-wrapper:last-child, .event-left:last-child {
	background: url("../img/divider.png") no-repeat left top;
	border-left: none;
	border-right: none;
	padding-left: 36px;
}
.event-left:last-child {
	background: url("../img/divider.png") no-repeat right top;
	padding-left: 0;
	padding-right: 36px;
}
.divider-wrapper:first-child, .event-left:first-child {
	padding-top: 20px;
}
.divider-wrapper:first-child .time, .event-left:first-child .time {
	top: 30px;
}
.divider-wrapper:last-child .time {
	left: -24px;
}
.divider-wrapper:last-child .time:after {
	content: "";
	height: 10px;
	width: 2px;
}
.event-wrapper {
	background: #F1F0F0;
	border-radius: 5px;
	padding: 11px 11px 0 11px;
	text-align: left;
}
.event p {
	color: #666;
	line-height: 15px;
	margin: 0;
	padding: 0 0 8px 0;
}
.event h2 {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0 0 1px 0;
}
.event {
	background-position: left 2px;
	background-repeat: no-repeat;
	font-size: 13px;
	min-height: 47px;
	padding-left: 39px;
}
.guard-on {
	background-image: url("../img/guard_on.png");
}
.guard-off {
	background-image: url("../img/guard_off.png");
}
.alarm-event {
	background-image: url("../img/alarm_icon.png");
}
.operator-event {
	background-image: url("../img/operator_icon.png");
}
.group-event {
	background-image: url("../img/group_icon.png");
}
.time {
	background-image:url("../img/divider.png");
	background-position: center top;
	background-repeat: repeat-y;
	left: -26px;
	position: absolute;
	top: 10px;
}
.event-left .time, .event-left:last-child .time {
	left: auto;
	right: -24px;
}
.event-left .time {
	right: -26px;
}
.fotorama, .imgs, .video {
	margin-left: -50px;
	margin-right: -11px;
}
.imgs img, .video img {
	display: block;
}
.fotorama__img, .imgs img, .video img {
	border-radius: 0 0 5px 5px;
}
.client-report, .client-report .timeline {/*margin-left: -500px*/
	margin: 0 auto;
	width: 521px;
}
.title-timeline-wrapper {
	text-align: center;
}
.client-report {
	margin-top: 40px;
	text-align: left;
}
.client-report .title-timeline {
	margin-left: -9px;
}
 [class^="icon-"], [class*=" icon-"] {
 background-image: url("../img/glyphicons-halflings.png");
 background-position: 14px 14px;
 background-repeat: no-repeat;
 display: inline-block;
 height: 14px;
 line-height: 14px;
 margin-top: 4px;
 vertical-align: text-top;
 width: 14px;
}
.icon-refresh {
	background-position: -240px -24px;
}
.audio {
	left: -36px;
	position: absolute;
	top: 3px;
	vertical-align: middle;
}
.spacer {
	clear: both;
	height: 120px;
}
footer {
	background: #EEE;
	clear: both;
	color: #5A5A5A;
	height: 20px;
	margin-top: 42px;
	padding: 29px 0;
	text-align: center;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], .uneditable-input {
	border-radius: 4px;
	color: #555;
	display: inline-block;
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}
