/*  Хак №1
    Отступ сверху от «navbar». */
    body { padding-top: 20px; }

/*  Хак №2
    Вывод ошибок
    
    В Бутстрапе подсказки для элементов формы обозначаются классами:
    .block-help — под элементом;
    .block-inline — справа от элемента.

    При выводе ошибок используется дополнительный класс .error для слоя с классом .control-group,
    который красит подсказки в красный цвет. Получается, что подсказка и ошибка не различаются, что не правильно.

    Есть решение данной проблемы: https://github.com/twitter/bootstrap/pull/2173,
    но его нет в оффициальном релизе. */

    .control-group.error .help-block,
    .control-group.error .help-inline {
      /* Гасим красный цвет для подсказок при выводе ошибок. */
      color: #444444;
    }
    .control-group.error .error {
      /* Ошибки красим обратно в красный. */
      color: #b94a48;
    }

/*   */
		.align-center { text-align: center; }
		h3 { line-height: 24pt; }